<html>
    <head>
        <meta charset="utf-8">
        <title>locolab</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    </head>
    <body>
        <script src="{{ url_for('static', filename='js/react/react.js') }}"></script>
        <script src="{{ url_for('static', filename='js/react/react-dom.js') }}"></script>
        <script src="{{ url_for('static', filename='js/react-bootstrap/react-bootstrap.js') }}"></script>
        <script src="{{ url_for('static', filename='js/babel/browser.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery/dist/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/socket.io-client/socket.io.js') }}"></script>
        <div class="container">
          <div class="row-fluid"> 
            <div class="span10 offset2">
              <div id="locoContainer"></div>
            </div>
          </div>
        </div>
        <script type="text/babel" src="{{ url_for('static', filename='js/app.jsx') }}"></script>
    </body>
</html>
